In [12]:
import pandas as pd
import numpy as np
from utils import filter_hp_uk_data, download_osm_boundaries, precise_boundary_filter

In [4]:
df=pd.read_csv('datasets/rainfall_data_transformed_final.csv',encoding='utf-8')

In [5]:
df.head()

,latitude,longitude,2010-06-01 00:00:00,2010-06-01 01:00:00,2010-06-01 02:00:00,2010-06-01 03:00:00,2010-06-01 04:00:00,2010-06-01 05:00:00,2010-06-01 06:00:00,2010-06-01 07:00:00,...,2024-09-30 14:00:00,2024-09-30 15:00:00,2024-09-30 16:00:00,2024-09-30 17:00:00,2024-09-30 18:00:00,2024-09-30 19:00:00,2024-09-30 20:00:00,2024-09-30 21:00:00,2024-09-30 22:00:00,2024-09-30 23:00:00
0,28.44,75.47,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,28.44,75.72,0.0,0.0,0.0,0.0,0.0,0.0,7.823110e-07,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,28.44,75.97,0.0,0.0,0.0,0.0,0.0,0.0,2.175569e-06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,28.44,76.22,0.0,0.0,0.0,0.0,0.0,0.0,7.420778e-06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,28.44,76.47,0.0,0.0,0.0,0.0,0.0,0.0,5.416572e-06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df_long = df.melt(id_vars=['latitude','longitude'], var_name='datetime', value_name='rainfall')
df_long['datetime'] = pd.to_datetime(df_long['datetime'])

In [9]:
df_long['rainfall']=df_long['rainfall']*1000  # Convert from meters to mm

In [10]:
df_long['month'] = df_long['datetime'].dt.month
df_long['year']  = df_long['datetime'].dt.year
df_mon = df_long[df_long['month'].isin([6, 7, 8, 9])]

In [11]:
df_mon

          latitude  longitude            datetime  rainfall  month  year
0            28.44      75.47 2010-06-01 00:00:00       0.0      6  2010
1            28.44      75.72 2010-06-01 00:00:00       0.0      6  2010
2            28.44      75.97 2010-06-01 00:00:00       0.0      6  2010
3            28.44      76.22 2010-06-01 00:00:00       0.0      6  2010
4            28.44      76.47 2010-06-01 00:00:00       0.0      6  2010
...            ...        ...                 ...       ...    ...   ...
19193035     32.94      79.97 2024-09-30 23:00:00       0.0      9  2024
19193036     32.94      80.22 2024-09-30 23:00:00       0.0      9  2024
19193037     32.94      80.47 2024-09-30 23:00:00       0.0      9  2024
19193038     32.94      80.72 2024-09-30 23:00:00       0.0      9  2024
19193039     32.94      80.97 2024-09-30 23:00:00       0.0      9  2024

[19193040 rows x 6 columns]