In [1]:
import pandas as pd

In [2]:
df_weather=pd.read_csv('weather.csv',encoding='utf-8')

In [5]:
df_weather.columns

Index(['01-01 01:00', '01-01 02:00', '01-01 03:00', '01-01 04:00',
       '01-01 05:00', '01-01 06:00', '01-01 07:00', '01-01 08:00',
       '01-01 09:00', '01-01 10:00',
       ...
       '19-01 05:00.33', '19-01 06:00.33', '19-01 07:00.33', '19-01 08:00.33',
       '19-01 09:00.33', '19-01 10:00.33', '19-01 11:00.33', '19-01 12:00.33',
       '19-01 13:00.33', '19-01 14:00.33'],
      dtype='object', length=24494)

In [4]:
df_weather.head()

,01-01 01:00,01-01 02:00,01-01 03:00,01-01 04:00,01-01 05:00,01-01 06:00,01-01 07:00,01-01 08:00,01-01 09:00,01-01 10:00,...,19-01 05:00.33,19-01 06:00.33,19-01 07:00.33,19-01 08:00.33,19-01 09:00.33,19-01 10:00.33,19-01 11:00.33,19-01 12:00.33,19-01 13:00.33,19-01 14:00.33
0,0.0,0.000009,0.000014,0.000014,0.000032,0.000149,0.000186,0.001388,0.001468,0.001468,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.000000,0.000000,0.000017,0.000121,0.000152,0.001315,0.001386,0.001386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.000000,0.000000,0.000016,0.000103,0.000128,0.001226,0.001288,0.001288,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.000000,0.000000,0.000015,0.000084,0.000103,0.001137,0.001190,0.001190,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.000000,0.000000,0.000016,0.000070,0.000084,0.000832,0.000984,0.000984,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df_weather.shape

(7396, 24494)

In [6]:
coordinates = pd.read_csv('coordinates.csv',encoding='utf-8')

In [10]:
len(coordinates['longitude'])

7396

In [11]:
df_weather['longitude']=coordinates['longitude']

In [12]:
df_weather['latitude']=coordinates['latitude']

In [14]:
df_weather.to_csv('weather_with_coordinates.csv',index=False)